div {
    /*border: 1px solid red;*/
}

header {
    margin-bottom: 50px;

    .nav-link {
        font-size:large;
        font-weight: bold;
        color: white;
    }

    .nav-link:hover {
        color: #43CAC7;
    }

    .container-fluid {
        height: 5%;
        background-color: #062D60;
    }
}

body {
    background-image: linear-gradient(to right, #153E6E 50%, #068F8B 50% );
    overflow-x: hidden;

    /*tutti i titoli*/
    .titolo {
        width: fit-content !important;
        height: fit-content !important;
    
        padding-top: 15;
        padding-bottom: 15;
        padding-left: 30;
        padding-right: 30;
        
        color: white !important;
    }
    .titolo:hover {
        transform:scale(1.05);
        margin-left: 15;
        color: #43CAC7 !important;
    }

    /*tutte le card*/
    .card {
        color: white;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        border: 1px solid white;

        .btn {
            border: rgba(0, 0, 0, 0)
        }
        .btn:hover {
            border: 1px solid white;
        }
    }
    .card:hover {
        transform: scale(1.05);
    }

    .cardImg {
        height: 250;
    }

    /*tutte le foto nel body*/
    .foto {
        width: fit-content;
        height: fit-content;

        margin-left: auto;
        margin-right: auto;

        border: 1px solid white;
    }
    .foto:hover {
        transform: scale(1.05);
    }
    
    /*elementi posizionati a sinistra*/
    .sinistra {
        color: #43CAC7;
        text-align: left;
        height: 600;
        
        /*card posizionate a sinistra*/
        .card {
            background-color: #1CA8A4;
            box-shadow: 0 0 25px rgba(67, 202, 199, 0.9);

            /*bottoni interni alle card posizionate a sinistra*/
            .btn {
                background-color: rgb(5, 118, 115);
            }
            .btn:hover {
                background-color: rgb(6, 143, 139);
            }
        }

        /*foto posizionate a sinistra*/
        .foto {
            box-shadow: 0 0 50px rgba(67, 202, 199, 0.9);
        }
        .foto:hover {
            box-shadow: 0 0 100px rgba(67, 202, 199, 0.9);
        }
    }
    
    /*elementi posizionati a destra*/
    .destra {
        color: #234E7C;
        text-align: right;
        
        /*card posizionate a destra*/
        .card {
            background-color: #234E7C;
            box-shadow: 0 0 25px rgba(6, 45, 96, 0.9);

            /*bottoni interni alle card posizionate a destra*/
            .btn {
                background-color: rgb(6, 45, 96);
            }
            .btn:hover {
                background-color: rgb(21, 62, 110);
            }
        }

        /*foto posizionate a destra*/
        .foto {
            box-shadow: 0 0 50px rgba(6, 45, 96, 0.9);
        }
        .foto:hover {
            box-shadow: 0 0 100px rgba(6, 45, 96, 0.9);
        }
    }
}